@page
@model IndexModel

<div class="text-center">
    <h4>Getting started with <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a></h4>

    <article>
        <h6>Blazor Server:</h6>
        <code>dotnet new blazorserver</code>
        <h6>Blazor WebAssembly:</h6>
        <code>dotnet new blazorwasm</code>
    </article>
</div>
